.memes-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.memes-list:hover .meme__extend-icon-container {
  opacity: 1;
}
.memes-list:hover .meme__title {
  color: #fff;
}

@media (hover: none) {
  .memes-list:hover .meme__title {
    color: unset;
  }
}
