.page {
  padding: 0 90px;
  color: #fff;
  font-family: "Arial", serif;
  max-width: 1440px;
  width: 100%;
}

@media (max-width: 1000px) {
  .page {
    padding: 0 60px;
  }
}
@media (max-width: 600px) {
  .page {
    padding: 0 20px;
  }
}
