.header {
  min-height: 12em;
  display: flex;
  align-items: center;
  border-bottom: 0.2em solid #4144ec;
}
@media (max-width: 63em) {
  .header {
    min-height: 10em;
  }
}
@media (max-width: 38em) {
  .header {
    min-height: 6em;
  }
}
