.meme {
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #4144ec;
  cursor: pointer;
}
.meme__heading-row {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meme__title {
  font-size: 2em;
}
.meme__extend-icon {
  width: 100%;
}
.meme__extend-icon-container {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/minusIcon.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;
}
.meme__picture-container {
  position: relative;
  /* transform: scale(0); */
  max-height: 0;
  transition: max-height ease 0.5s;
  align-self: center;
  overflow: hidden;
}
.meme__picture {
  padding: 0;
  padding-bottom: 40px;
}
.meme:hover > .meme__picture-container {
  transform: none;
  max-height: 1500px;
}
.meme:hover > .meme__heading-row > .meme__extend-icon-container {
  background-image: url(../../images/plusIcon.svg);
}
