.meme {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #4144ec;
  cursor: pointer;
}
.meme__click {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
.meme__heading-row {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.meme__title {
  font-size: 2em;
}
.meme__extend-icon {
  width: 100%;
}
.meme__extend-icon-container {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/plusIcon.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 0.5s ease;
  opacity: 0;
}
.meme__picture-container {
  max-height: 0;
  transition: max-height ease 0.5s;
  align-self: center;
  overflow: hidden;
  max-width: 100%;
}
.meme__picture {
  padding: 0;
  padding-bottom: 40px;
  max-width: 100%;
}
.meme:hover > .meme__picture-container {
  transform: none;
  max-height: 1500px;
}
.meme:hover .meme__extend-icon-container {
  background-image: url(../../images/minusIcon.svg);
}
.meme__click:checked ~ .meme__picture-container {
  transform: none;
  max-height: 1500px;
}
.meme__click:checked ~ .meme__heading-row > .meme__extend-icon-container {
  background-image: url(../../images/minusIcon.svg);
}
.meme:active {
  opacity: 50%;
}

@media (max-width: 1000px) {
  .meme__title {
    font-size: 1.5em;
  }
  .meme__extend-icon-container {
    width: 24px;
    height: 24px;
  }
  .meme__heading-row {
    padding: 30px 0;
  }
  @media (max-width: 600px) {
    .meme__title {
      font-size: 1em;
    }
    .meme__extend-icon-container {
      width: 16px;
      height: 16px;
    }
    .meme__heading-row {
      padding: 20px 0;
    }
  }
}
