.title {
  font-size: 3.5em;
  line-height: 1;
  font-weight: 700;
}
@media (max-width: 63em) {
  .title {
    font-size: 2.5em;
  }
}
@media (max-width: 38em) {
  .title {
    font-size: 1.5em;
  }
}
